<?xml version="1.0" encoding="UTF-8"?>
<generatorConfiguration>
	<jdbcConnection driverClass="org.postgresql.Driver"
								url="jdbc:postgresql://localhost/springdemo"
								username = "root"
								password = "root">
	</jdbcConnection>
	<base packageName = "com.demo"
				basePackageName = "com.demo.base"
				outputDir = "D:/JavaBean/src">
	</base>
	<tables>
		<table tableName = "bo_attach_url" >
		</table>
	</tables>
</generatorConfiguration>