<?xml version="1.0" encoding="UTF-8"?>
<generatorConfiguration>
	<jdbcConnection driverClass="org.postgresql.Driver"
								url="jdbc:postgresql://192.168.0.116:54321/indoor_dev"
								username = "indoor"
								password = "indoor@837">
	</jdbcConnection>
	<base packageName = "cn.howso.deeplan.web.building"
				basePackageName = "cn.howso.deeplan.common.request"
				outputDir = "D:/JavaBean/src">
	</base>
	<tables>
		<table tableName = "fusion_floor" >
		</table>
		<table tableName = "fusion_floor_img" >
		</table>
		<table tableName = "fusion_building_floor" >
		</table>
		<table tableName = "fusion_elevator" >
		</table>
	</tables>
</generatorConfiguration>